<% provide(:title, "Draw") %>
<body class="container full-height-grow">
	<header class="main-header">
		<div class="brand-logo-name">Amy's Science Fair Project</div>
			<nav class="main-nav">
				<ul>
					<li><button onclick="window.location='home'">Home</button></li>
					<li><button onclick="window.location='gallery'">Gallery</button></li>
					<li><button class="page-button" onclick="window.location='draw'">Draw</button></li>
				</ul>
			</nav>
	</header>

	<div style="flex-grow: 1;">
		<p class="subhead">Start Drawing Below.</p>
		<p class="center">If you'd like, sign your name on the canvas before you upload it!</p>
		<div class="sidenav">
			<button id="drawing-mode" onclick="changeMode()">Cancel drawing mode</button>
			<div id="options" style>
				<button onclick="toggleDraw()">Draw</button>
				<button onclick="createRectangle()">Rect</button>
				<button onclick="createCircle()">Circle</button>
				<button onclick="createTextbox()">Text</button>
				<button onclick="eraseDrawing()">Erase</button>
				<button onclick="clearCanvas()">Clear</button>
				<p class="drawlabel">Color Changer:</p>
				<input id="colorPicker" value="#000000" data-jscolor="">
				<input id="myRange" type="range" min="1" max="100" value="1" class="slider">
				<p class="drawlabel">Brush Width: <span id="demo"></span></p>	
			</div>
										<div>
										<button id="b" class="save_upload" onclick="saveImage()">Save as Image</button>
										<button id="upload_widget" class="save_upload">Upload files</button>
										</div>
		</div>
		<div id="canvasMain">
			<canvas id="c"/>
		</div>
	</div>
</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.0/fabric.min.js"></script>	
	<%= javascript_pack_tag 'FileSaver' %>

	<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

	<script type="text/javascript">  
		var myWidget = cloudinary.createUploadWidget({
			  cloudName: 'sciencefair', 
					uploadPreset: 'czfampcy',
					sources: ['local'],
					clientAllowedFormats: ['jpg']}, (error, result) => { 
				      if (!error && result && result.event === "success") { 
					            console.log('Done! Here is the image info: ', result.info); 
																	alert("Thanks for uploading your art! You can view it on the Gallery page, but make sure to save it if necessary as it won't save when you come back. Have a great day :)")
					          }
				    }
		)

								document.getElementById("upload_widget").addEventListener("click", function(){
	    myWidget.open();
	  }, false);
	</script>
