<% provide(:title, "Gallery") %>
<body class="container full-height-grow">
			<header class="main-header">
						<div class="brand-logo-name">Amy's Science Fair Project</div>
								<nav class="main-nav">
												<ul>
																	<li><button onclick="window.location='home'">Home</button></li>
																	<li><button class="page-button" onclick="window.location='gallery'">Gallery</button></li>
																	<li><button onclick="window.location='draw'">Draw</button></li>
												</ul>
																																		</nav>
																																			</header>

																																			<div class="center">
																																					<p class="subhead">See what other users are creating.</p>
																																			</div>
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.0/fabric.min.js"></script>
	<script src="drawing.js"></script>
